<html lang="en">

    <head>
        <meta charset="utf-8">
        <title>Home</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/styles.css">
    </head>

      <body>
          

        <%- include('./_navbar.ejs') %>

        <div id="main-body">
            <div class="container-md">
                <div class="main_content_inner">

                    Add user

                    <form class="form-inline my-2 my-lg-0" action="/car/add" method="post">
                        
                        <input class="form-control mr-sm-2" type="text" name="brand" placeholder="Brand">
                        <input class="form-control mr-sm-2" type="text" name="model" placeholder="Model">
                        <input class="form-control mr-sm-2" type="text" name="fuel" placeholder="Fuel">
                        <input class="form-control mr-sm-2" type="text" name="category" placeholder="Category">
                        <input class="form-control mr-sm-2" type="text" name="dateManufactured" placeholder="Date Manufactured">
                        <input class="form-control mr-sm-2" type="text" name="registrationNum" placeholder="Registration Number">

                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Add</button>
                    </form>

                </div>
            </div> 
        </div>
    </body>
</html>