<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Home</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="/">Rent cars</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/cars">Cars</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/cities">Cities</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/">Users<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/rent">User cars</a>
            </li>
        </nav>
        <div id="main-body">
        <div class="container-md">
        <div class="main_content_inner">
            Find by name
            <form class="form-inline my-2 my-lg-0" action="/user/find" method="post">
                <input class="form-control mr-sm-2" type="text" name="fName" placeholder="First Name">
                <input class="form-control mr-sm-2" type="text" name="lName" placeholder="Last Name">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
            <a href="./user/add" > Add user </a>
            <% if(data.length > 0) {%>
            <div class="row-2 content_clr">
                <% for(let i = 0; i < data.length; i++) {%>
                <div class="main_box">
                    
                  <% if(data[i].manager) {%>
                    <div class="main_box_inner_active">
                  <% } else {%>
                    <div class="main_box_inner">
                  <% } %>

                            <p>
                                Name: <%= data[i].firstName + " " + data[i].lastName%>
                            </p>
                            <hr>
                            <p>
                                Number: <%= data[i].num%>
                            </p>
                            <hr>
                            <p>
                                City: <%= data[i].city%>
                            </p>
                            <hr>
                            <p>
                                Bird date: <%= data[i].dateBirth%>
                            </p>
                            <% if(data[i].manager) {%>
                              <hr>
                              <p>
                                  Manager
                              </p>
                            <% } %> 
                        </div>
                    </div>
                    <% } %>   
                    <% } else {%>
                    <p class="text-light bg-warning">
                        No records found!
                    </p>
                    <% } %>  
                </div>
            </div>
        </div>
    </body>
</html>